.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}
.textfield{
  font-size: 18px; 
  height: 90vh;
  width: 40vw;
  word-wrap: break-word;
  word-break: break-all;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.label{
display:flex;
}
.form{background-color: aliceblue; box-sizing: content-box; border: 1px solid black;padding: 20px;}
.grouplabel{
  display:flex;  
  font-size: large;
  background-color: #61dafb;
  margin-right:15em;
  margin-left: 0px;
  margin-top: 20px;
  
}
.Containerrow{
  margin: 100px;
}
.selectdiv{
  margin:20px;
}
